* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 10px 0;
    padding: 0 0.4rem;
}

#pattern-header {
    background-color: #4da1ff;
    background-image: url("../img/pattern.png");
    background-size: 26%;
}

#pattern-header img {
    width: 12%;
    margin: 12px;
    padding-top: 2%;
}

.author {
    color: gray;
}

.author.data {
    font-size: 0.7em;
}

.container {
    padding: 0 0.4rem;
}

figcaption {
    font-size: 0.7em;
}

.yellow {
    background-color: yellow;
}

ul {
    padding: 0 15px;
}

.paragrafo {
    margin: 6px 0;
}